/*
 * Hide Ads on Gmail
 */

/* Hide sponsers' links {{{ */
div.nH div.aoh {
  display: none !important;
}
td.Bu div.PS {
  display: none !important;
}
div.nH div.u5 {
  display: none !important;
}
/* }}} */

/* vim:set foldmethod=marker: */
